extends layout 

block content 
     h1 Iniciar de Sesion 
     p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla velit tenetur eveniet labore veritatis! Iusto id eum natus temporibus beatae eaque aliquam doloremque, impedit laboriosam et velit vel labore voluptatum!
     a(href='/login', class ='btn btn sucess') Inicio de Sesion